<div class="page-container" [class.sidebar-hidden]="isSidebarHidden">
    <div class="sidebar"  *ngIf="!isSidebarHidden">
        <div class="top-items">
            <h2>LIBRARY MANAGMENT SYSTEM</h2>
            <button class="hide-sidebar-btn" (click)="toggleSidebar()">
                <img src="../../assets/arrow.png">
            </button>
        </div>
        <div class="nav-items">
            <div class="nav-item" (click)="navigateTo('/profile')">
                <img src="../../assets/profile2.png">
                <span>Profile</span>
            </div>
            <div class="nav-item" (click)="navigateTo('/home')">
                <img src="../../assets/home2.png">
                <span>Home</span>
            </div>
            <div class="nav-item active" (click)="navigateTo('/my-loans')">
                <img src="../../assets/my_loans.png">
                <span>My Loans</span>
            </div>
        </div>
        <div class="bottom-items">
            <div class="bottom-item" (click)="navigateTo('/home')">
                <img src="../../assets/contact.png">
                <span>Contact us</span>
            </div>
            <div class="bottom-item" (click)="navigateTo('/home')">
                <img src="../../assets/logout.png">
                <span>Logout</span>
            </div>
        </div>
    </div>
    <div class="content">
        <button class="show-sidebar-btn" *ngIf="isSidebarHidden" (click)="toggleSidebar()">
            <img src="../../assets/arrow.png">
        </button>
        <div class="header">
            <h1>MY LOANS</h1>
        </div>
        <div class="loan-container">
            <div *ngFor="let loan of loans" class="loan-item" (click)="viewBookDetails(loan.id)">
                <img src="./../../assets/{{ loan.img_paths }}">
                <div class="loan-details">
                    <span class="loan-name">{{ loan.name }}</span>
                    <span class="loan-author">by {{ loan.author }}</span>
                    <span class="loan-label">Issue Date: {{ transformDate(loan.issueDate) }}</span>
                    <span *ngIf="loan.loanStatus === 'active'" class="loan-label">Due Date: {{ transformDate(loan.dueDate) }}</span>
                    <span *ngIf="loan.returnDate && loan.loanStatus === 'completed'" class="loan-label">Return Date: {{ transformDate(loan.returnDate) }}</span>
                    <span class="loan-status" [style.color]="getStatusColor(loan.loanStatus)">{{ loan.loanStatus.toUpperCase() }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
