<div class="page-container" [class.sidebar-hidden]="isSidebarHidden">
    <div class="sidebar"  *ngIf="!isSidebarHidden">
        <div class="top-items">
            <h2>LIBRARY MANAGMENT SYSTEM</h2>
            <button class="hide-sidebar-btn" (click)="toggleSidebar()">
                <img src="../../assets/arrow.png">
            </button>
        </div>
        <div class="nav-items">
            <div class="nav-item" (click)="navigateTo('/profile')">
                <img src="../../assets/profile2.png">
                <span>Profile</span>
            </div>
            <div class="nav-item" (click)="navigateTo('/home')">
                <img src="../../assets/home2.png">
                <span>Home</span>
            </div>
            <div class="nav-item" (click)="navigateTo('/my-loans')">
                <img src="../../assets/my_loans.png">
                <span>My Loans</span>
            </div>
        </div>
        <div class="bottom-items">
            <div class="bottom-item" (click)="navigateTo('/home')">
                <img src="../../assets/contact.png">
                <span>Contact us</span>
            </div>
            <div class="bottom-item" (click)="navigateTo('/home')">
                <img src="../../assets/logout.png">
                <span>Logout</span>
            </div>
        </div>
    </div>
    <div class="content">
        <button class="show-sidebar-btn" *ngIf="isSidebarHidden" (click)="toggleSidebar()">
            <img src="../../assets/arrow.png">
        </button>
        <div class="header">
            <h1>MY NOTIFICATIONS</h1>
        </div>
        <div class="notification-container">
            <span *ngIf="unreadNotificationsNumber !== 0">UNREAD: ({{ unreadNotificationsNumber }})</span>
            <div *ngFor="let notification of notifications" class="notification-item" [class.unread]="!notification.isRead" (click)="readNotification(notification.id); openNotificationDialog(notification)">
                <label>{{ notification.title }}</label>
            </div>
        </div>
    </div>
</div>

<ng-template #notificationDialog>
    <div class="dialog-container">
        <span class="dialog-title">{{ selectedNotification.title }}</span>
        <div class="dialog-content">
            <label>{{ selectedNotification.content }}</label>
        </div>
        <div class="dialog-actions">
            <button class="dialog-button" (click)="exitNotification()">Exit</button>
        </div>
    </div>
</ng-template>