.admin-panel {
    display: flex;
    flex-direction: column;
}

.header-main {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #eb5e55;
    padding: 30px;
    transition: all 0.3s ease;
}

.header-main.shrink {
    padding: 10px;
}

.header-main ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.header-main ul li {
    margin: 0;
}

.header-main ul li a {
    color: #fef0d5;
    text-decoration: none;
    font-size: 20px;
    padding: 0.5em 1em;
    transition: all 0.3s ease;
}

.header-main.shrink ul li a {
    font-size: 15px;
}

.header-main ul li a:hover {
    background-color: #b6443c;
}

.header-main ul li a.current {
    font-weight: bold;
    text-decoration: underline;
}

/* router-outlet {
    padding: 1em;
} */

/*CONTENT_______________________________________________________________________*/

.search-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.input-group input[type="text"], .input-group button {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    width: 170px;
    border: 2px solid #ccc;
    background-color: white;
    color: #333;
    border-radius: 8px;
    font-size: 15px;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
    max-width: 300px;
    font-size: 15px;
    text-align: start;
}
  
.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}
  
.suggestions-list li:hover {
    background-color: rgb(200, 200, 200);
}

.input-group select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    width: 150px;
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 8px;
    color: #333;
    font-size: 15px;
}

.input-group select option {
    background-color: white;
    color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 15px;
}

.input-group button:hover {
    background-color: rgb(200, 200, 200);
}

.input-group select:hover {
    background-color: rgb(200, 200, 200);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
}

.dropdown-content input{
    cursor: pointer;
    margin-right: 10px;
    accent-color: #eb5e55;
    width: 15px;
    height: 15px;
}
  
.dropdown-content label {
    display: block;
    margin-top: 10px;
}
  
.input-group:hover .dropdown-content {
    display: block;
    padding: 0 10px 10px 10px;
}
  
.input-group:hover .dropdown-content label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-group:hover .dropdown-content label:hover {
    background-color: rgb(200, 200, 200);
}

.search-button {
    padding: 10px 20px;
    background-color: #eb5e55;
    color: #fef0d5;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
}

.search-button:hover {
    background-color: #b6443c;
}

.add-book-btn {
    padding: 10px 20px;
    background-color: #eb5e55;
    color: #fef0d5;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 10px;
}

.add-book-btn:hover {
    background-color: #b6443c;
}

.book-title {
    text-align: center;
    color: #eb5e55;
    font-size: 35px;
}

.book-container {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-top: 100px;
}

.book-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.img-segment {
    display: flex;
    align-items: center;
    width: 10%;
}

.img-segment img {
    height: 120px;
    width: 90px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
}
.main-segment {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

.main-segment .book-name {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

.main-segment .book-author {
    font-size: 15px;
}

.stars-price-segment {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.stars-price-segment span{
    font-size: 15px;
    margin-bottom: 10px;
}

.copies-segment {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.copies-segment span{
    font-size: 15px;
    margin-bottom: 10px;
}

.button-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.button-segment button {
    padding: 10px 20px;
    background-color: #eb5e55;
    color: #fef0d5;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    margin: 5px 0;
}

.button-segment button:hover {
    background-color: #b6443c;
}

.dialog-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.dialog-container h2 {
    color: #eb5e55;
    font-size: 20px;
}
  
.dialog-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
  
mat-form-field {
    width: 100%;
}
  
mat-form-field input, mat-form-field mat-select {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
  
mat-form-field input:focus, mat-form-field mat-select:focus {
    border-color: #2980b9;
}
  
mat-form-field.mat-focused .mat-form-field-label {
    color: #2980b9;
}

.mat-form-field-full {
    grid-column: span 2;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dialog-buttons button {
    padding: 10px 20px;
    background-color: #eb5e55;
    color: #fef0d5;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 10px;
}

.dialog-button:hover {
    background-color: #b6443c;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-controls button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #eb5e55;
    color: #fef0d5;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
}

.pagination-controls span {
    font-size: 15px;
    font-weight: bold;
}

.pagination-controls button:hover {
    background-color: #b6443c;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.bottom-item {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 16px;
    background-color: #eb5e55;
}

.bottom-item:hover {
    cursor: pointer;
    background-color: #b6443c;
}

.bottom-item img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.bottom-item span {
    font-size: 20px;
    color: #fef0d5;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media screen and (max-width: 1080px) {
    .header-main ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-main ul li{
        margin-bottom: 10px;
    }

    .input-group, .search-button, .add-book-btn {
        margin-top: 10px;
    }

    .book-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book-item div {
        margin-bottom: 10px;
        text-align: center;
    }

    .img-segment {
        justify-content: center;
    }

    .book-container {
        margin-top: 250px;
    }
}